.main-footer {
  background-color: rgb(70, 142, 237);
  padding-top: 2em;
  bottom: 0%;
  width: 100%;
  position: relative;
  text-align: center;
  
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.content-wrap {
  flex: 1;
}
